<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>
			<!-- th~ : 타임리프 문법
			each - 포이치문
			text - 해당 내용을 태그안에 출력
			 -->
			<tr th:each="board,loop:${boardList}"> <!-- 포이치문으로 Board랑 loop 를 받겠다-->
				<td th:text="${loop.count}"></td>
				<td th:text="${board.boardTitle}"></td>
				<td th:text="${board.boardDate}"></td>
			</tr>
		</tbody>
	</table>
	

</body>
</html>